body {
    background: #333;
    font-family: 'Open Sans', sans-serif;
    color: #ddd;
}

.container {
    border-radius: 8px;
    background-color: #444;
    margin: auto;
    height: auto;
    width: 750px;
    color: #ddd;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.col-sm-5 {
    width: 45%;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #888;
    background: #555;
    color: #ddd;
}

p {
    margin-bottom: 10px;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #555;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #777;
}

input[type="button"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #555;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #777;
}